{% extends "SofidFideleBundle::dashboard.html.twig" %}

{% block menu %}   
              <div id="left_menu">
                    <ul id="main_menu" class="main_menu">
                      <li class="limenu select"><a href="{{ path('home_fidele') }}"><span class="ico gray shadow home" ></span><b>Accueil</b></a></li>
					  <li class="limenu" ><a href="{{ path('edit_fidele') }}" ><span class="ico gray shadow administrator"></span><b>Profil</b></a></li>
					  <li class="limenu" ><a href="{{ path('customeroptin_fidele') }}" ><span class="ico gray shadow communication"></span><b>Communications</b></a></li>
				  </ul>
              </div>          
{% endblock %} 

{% block titre %}Accueil{% endblock %}

{% block content %}

		{% include "SofidFideleBundle:Profile:show_content.html.twig" %}
	
{% endblock %}