{% extends "SofidFideleBundle::layout.html.twig" %}

{% block content %}

<div id="alertMessage"></div>
<div id="successLogin"></div>
<div class="text_success"><img src="{{ asset('bundles/sofidcommercant/images/loadder/loader_green.gif') }}"  alt="SoFID" /><span>Veuillez patienter</span></div>

<div id="login" >
{#   <div class="ribbon"></div>#}
  <div class="inner">
  <div class="logo" ><img src="{{ asset('bundles/sofidcommercant/images/logo/logo.png') }}" alt="SoFID" /></div>
  
  {% if error is defined%}
    <div align="center">Email incorrect!</div>
  {% endif %}
  
  <div class="formLogin">
  
  <form action="{{ path("forgotten_pass_fidele") }}" method="post" name="formLogin"  id="formLogin">

    <div class="tip">
    	Veuillez saisir votre adresse email :
    	<br /><div><br /></div>
    	<input type="text" id="username_id" name="login" required="required" title="Email"  />
	</div>


    <div class="loginButton">
        <div style="float:left; margin-left:-9px;">
	    </div>
		<div style="float:right; padding:3px 0; margin-right:-12px;">
            <div> 
                <ul class="uibutton-group">
                   <li><input type="submit" id="_submit" name="_submit" value="r&eacute;initialiser" /></li>

               </ul>
            </div>
			  
        </div>
			<div class="clear"></div>
	</div>
  </form>
  </div>
</div>
  <div class="clear"></div>
  <div class="shadow"></div>
</div>

<!--Login div-->
<div class="clear"></div>

{% endblock %}