{% extends "SofidCommercantBundle::dashboard.html.twig" %}


{% block titre %}Pool{% endblock %}

{% block content %}



        <!-- Third / Half column-->
        <div class="widgets">
            <div class="oneThree">
            </div>

            <div class="twoOne">

                <div class="section ">

                </div>

            </div><!-- End Third / Half column-->
        </div>

{% endblock %}